In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
from arch import arch_model
from joblib import Parallel, delayed
import multiprocessing
import math
import os
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

In [18]:
daily = '/Users/azrarahman/github projects/garch/daily.csv'

daily_df = pd.read_csv(daily)

daily_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Unnamed: 7
0,9/17/2014,116.466003,117.043503,113.105499,114.333504,114.333504,21056800.0,NaN
1,9/18/2014,114.214996,114.214996,103.276001,106.110001,106.110001,34483200.0,NaN
2,9/19/2014,106.025749,106.958748,96.133003,98.698998,98.698998,37919700.0,NaN
3,9/20/2014,98.668251,105.823998,97.470749,102.225998,102.225998,36863600.0,NaN
4,9/21/2014,102.021248,103.106499,98.295250,99.705254,99.705254,26580100.0,NaN